<footer class="site-footer h-card">
    <div class="wrapper">

        <div class="footer-col-wrapper">

            <div class="footer-col">
                <li class="p-name"> <strong><a href="https://scholar.google.com/citations?user=QjPCEicAAAAJ&hl=en">Google Scholar</a></strong></li>
                <li class="p-name"> <strong>Address:</strong> {{ site.address }} </li>
                <li class="u-email"> <strong>Contact:</strong> {{ site.email }} </li>
            </div>
            <div class="footer-col">
                <ul class="contact-list">
                    <li class="p-name">Laboratoire de Biologie Structurale de la Cellule (BIOC) UMR 7654 CNRS</li>
                    <img src="./assets/images/img/logo_X.png" class="site-logo">
                    <img src="./assets/images/img/cnrs.png" class="site-logo">
                    <img src="./assets/images/img/logo_bioc.png" class="site-logo">
                </ul>
            </div>

        </div>

    </div>

</footer>
