<footer class="site-footer h-card">
    <div class="wrapper">

        <div class="footer-col-wrapper">

            <div class="footer-col">
                <li class="p-name"> <strong><a href="https://scholar.google.com/citations?user=QjPCEicAAAAJ&hl=en">Google Scholar</a></strong></li>
                <li class="p-name"> <strong>Address:</strong> {{ site.address }} </li>
                <li class="u-email"> <strong>Contact:</strong> {{ site.email }} </li>
            </div>
            <div class="footer-col">
                <ul class="contact-list">
                    <li class="p-name">UMR CNRS-ESPCI 8231 Chemistry,
                        Biology and Innovation</li>
                    <img src="/assets/images/img/LogoFrLBE.png" class="site-logo">
                    <img src="/assets/images/img/cnrs.png" class="site-logo">
                    <!-- <img src="/assets/images/img/ESPCI-PSL.png" class="site-logo"> -->
                    <img src="./assets/images/banner/glob.png" class="site-logo">
                </ul>
            </div>

        </div>

    </div>

</footer>
